<section class="side_nav">
    <article>
        <aside class="logo">
            <a href="/">NOTE APP</a>
        </aside>
        <aside class="menu">
            <ul>
                <li>
                    <a href="/">HOME</a>
                </li>
                <li>
                    <a href="/note/create-note">Create-note</a>
                </li>
                <li>
                    <a href="/">Login</a>
                </li>
            </ul>
        </aside>
    </article>
</section>