<section class="note">
    <article>
        <h2>CREATE NOTE</h2>
        <form action="/note/create-note" method="post">
        <div class="form-group">
             <label for="title">Note Title</label>
             <input type="text" name="title" id="title" required placeholder="Enter title">
        </div>

        <div class="form-group">
            <label for="category">Note Category</label>
            <select name="category" id="category">
                <option value="frontend">Frontend</option>
                <option value="backend">Backend</option>
                <option value="machine_learning">Machine Learning</option>
                <option value="database">database</option>
                <option value="cloud">cloud</option>
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label for="description"><textarea name="description" id="description" cols="30" rows="10"></textarea></label>
        </div>
        <div class="form-group">
            <button>create-note</button>
        </div>
        </form>
    </article>
</section>